.WeatherForecast {
  text-align: center;
}
.WeatherForecast-day {
  font-size: 12px;
  padding-top: 20px;
}
.WeatherForecast-temp-max {
  font-size: 12px;
}
.WeatherForecast-temp-min {
  opacity: 0.6;
  margin-left: 5px;
  font-size: 12px;
}
